.makeAppeal{
  border-bottom: 1px solid #E5E5E5;
}

.shensu-box-child {
  margin: 10px 0;
  background: #fff;
}

._p {
  padding: 0.6rem 0.7rem 0.6rem 0.7rem;
  margin-bottom: 1rem;
  color: #FF9642;
  background-color: #d1d1d1;
}

.__p {
  margin: 0.7rem 0 0.7rem 0;
}


/* 申诉详情页面 */

._header {
  background: #fff;
  padding: 10px;
  display: flex;
}

._headerImg {
  width: 30%;
  padding-right: 0.7rem;
}

._headerImg>img {
  width: 100%;
}

._header>ul {
  width: 70%;
  font-size: 0.9rem;
}

._header>ul>li {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 0;
  border-bottom: 1px solid #ccc;
}

.quxiaoBtn {
  text-align: center;
  margin: 1rem;
}

.center_detail {
  height: 40px;
  background-color: #d1d1d1;
  display: flex;
  align-items: center;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.center_detail>img {
  width: 40px;
  padding-right: 0.4rem;
}

.shop-titles>span:first-child {
  padding: 1px 8px;
  display: inline-block;
  background-color: #66caa8;
  border-radius: 50%;
  color: #fff;
  margin-bottom: 0.4rem;
  margin-top: 0.3rem;
}

.shop-titles_span {
  display: inline-block;
  width: 90%;
  background-color: #e9ebea;
  font-size: 1rem;
}

.shensu_phones {
  margin-left: 10%;
}

.shensu_phones>img {
  max-width: 100%;
  padding-top: 0.4rem;
  padding-right: 0.7rem;
}

.shensu_phones>p {
  padding: 0.4rem 0;
}

.shensu_btns {
  margin: 20px 10px;
}

.shensu_btns .weui-btn {
  padding: 5px 0;
  font-size: 16px;
}

.xieshang>p {
  padding: 0.4rem 0;
}